@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.footer {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #888888;

  & a {
    color: #4b4b4b;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }

  & a:hover {
    color: #000000;
    text-decoration: none;
  }
}
